# Pycharm settings
.idea

# Python cache & build
*.pyc
sol.egg-info
build
.cache

# Sphinx output
docs/build

# Testing files
.coverage

# Log files
*.log

# Other dev files
.vagrant
*.c
*.so
.hypothesis
.ipynb_checkpoints
excludes.txt
upload.sh
*.DS_store
